[submodule "pack/plugins/start/lightline.vim"]
	path = pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/plugins/start/vim-buftabline"]
	path = pack/plugins/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
